<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Center Parcs Adyen PoC</title>
  </head>
  <body>
    <ul>
      <li><a href="/advanced/dropin">Advanced Drop In</a></li>
      <li><a href="/sessions/dropin">Sessions Drop In</a></li>
      <li><a href="/advanced/components">Advanced Components</a></li>
      <li><a href="/sessions/components">Sessions Components</a></li>
    </ul>
  </body>
</html>